@model OnlineVaccineSystem.data.Vaccine

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div class="table-bordered">
    <h4>Vaccine</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VaccineName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VaccineName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VaccineNextDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VaccineNextDays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VaccineAge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VaccineAge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VaccineCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VaccineCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoseCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoseCount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
