@model OnlineVaccineSystem.data.CenterSlot

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div class="table-bordered">
    <h4>CenterSlot</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SlotCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SlotCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SlotTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SlotTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VaccineCenter.CenterName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VaccineCenter.CenterName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vaccine.VaccineName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vaccine.VaccineName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
