@model OnlineVaccineSystem.data.VaccineCenter

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div class="table-bordered">
    <h4>VaccineCenter</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CenterName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CenterName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CenterState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CenterState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CenterDistict)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CenterDistict)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
